<!DOCTYPE html>
<html lang="eng">
<head>
	<link rel="stylesheet" herf="style.css">
	<title>Document</title>

</head>

<h1 align='middle' style="color:rgb(255,0,255)">Welcome to Online Hospital Management System</h1>

<br><br>

<p><h4><h2>Online Hospital Management system:</h2> This one cloud-based hospital management system that manages both patients and hospital assets (Doctors, Management). The primary goal of this design is to improve upon the current hospital experience. Although no one wants to go to the hospital, there's many circumstances when it is necessary. The previous hospital system is not very user-friendly. The first huge stem has been in line for some hours. There are other other issues that contribute to your negative hospital experience. Our main goal is to make people's lives easier in times of crisis. We're working on a method that will eliminate a lot of paperwork and allow individuals to save time.


<br><a href='Registration.php'><h3>Registration</h3></a>
<a href='Login.php'><h3>Login</h3></a>



</html>